# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------

venv/
.venv/
env/

# --------------------------------------------------
# Jupyter
# --------------------------------------------------

.ipynb_checkpoints/

# --------------------------------------------------
# Streamlit
# --------------------------------------------------

.streamlit/

# --------------------------------------------------
# Operating System
# --------------------------------------------------

.DS_Store
Thumbs.db

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode/
.idea/

# --------------------------------------------------
# Logs
# --------------------------------------------------

*.log

# --------------------------------------------------
# Build
# --------------------------------------------------

build/
dist/
*.egg-info/

# --------------------------------------------------
# Cache
# --------------------------------------------------

.pytest_cache/
.mypy_cache/

# --------------------------------------------------
# Data
# --------------------------------------------------

data/

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------

.env

# --------------------------------------------------
# Model Files
# --------------------------------------------------

# Ignore model files by default
*.pth
*.pt
*.ckpt

# Track pretrained checkpoints required for deployment
!src/models/checkpoints/
!src/models/checkpoints/*.pth